name: Build

on:
  schedule:
    - cron: "38 */5 * * *"
  push:

jobs:
  build_source:

    name: Source Packages
    runs-on: ubuntu-24.04
    steps:
      - run: uname -a && dpkg --print-architecture
      - name: checkout
        uses: actions/checkout@v5
      - name: Build source packages
        run: python crawl-ref/source/directn.cc
